.card {
  background-color: white;
  width: 270px;
  position: relative;
}

.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
}
.card-link:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

.card__badges {
  display: flex;
  column-gap: 10px;
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
}

.card__badge {
  display: inline-block;
  border-radius: 4px;
  height: 22px;
  padding: 0 10px;
  font-size: 1.4rem;
  line-height: 22px;
  color: black;
}

.card__badge--class {
  background-color: #FFCF26;
}

.card__badge--credit {
  background-color: #11BE75;
}

.card__content {
  padding: 15px 15px 20px;
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: Roboto sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.16;
  color: black;
}

.card__term {
  font-size: 1.4rem;
  line-height: 1.14;
  color: black;
  margin-bottom: 10px;
}

.card__metro {
  font-size: 1.4rem;
  line-height: 1.14;
  color: black;
  margin-bottom: 10px;
}
.card__metro::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;
  background-image: url("./../img/metro.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.card__addres {
  font-size: 1.4rem;
  line-height: 1.14;
  color: #777777;
}

.cards-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards-holder .card {
  margin-bottom: 30px;
}

.widget__title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.16;
  color: black;
  margin-bottom: 20px;
  position: relative;
}
.widget__title:after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("./../img/arrow.svg") no-repeat center;
  background-size: initial;
  position: absolute;
  right: 0;
  top: 0;
}

.location__row {
  display: flex;
}
.location__row:first-child {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  border: 1px solid #D6D6D6;
}
.location__row:last-child {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  border: 1px solid #D6D6D6;
  border-top: none;
}

.location__btn {
  flex-grow: 1;
  font-family: inherit;
  background-color: transparent;
  border: none;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #3c3c3c;
  padding: 0 0.93em;
  height: 3.57em;
  cursor: pointer;
  transition: all 0.2s linear;
}
.location__btn:hover {
  background-color: rgba(255, 208, 38, 0.5254901961);
}

.location__btn--active {
  background-color: #FFCF26;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F4F4F4;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 870px;
}

.sidebar {
  width: 270px;
}

.more {
  width: 100%;
  height: 80px;
  background: #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  color: #4290c9;
  border: none;
}
.more img {
  display: inline-block;
  vertical-align: bottom;
}/*# sourceMappingURL=main.css.map */