.card{
    background-color: white;
    width: 270px;
    position: relative;
}
.card-link{
    display: inline-block;
    text-decoration: none;
    transition: all .2s linear;
    &:hover{
        opacity: 0.8;
        transform: translateY(-5px);
    }
}
.card__badges{
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;

}
.card__badge{
    display: inline-block;
    border-radius: 4px;
   
    height: 22px;
    padding: 0 10px;
    font-size: 1.4rem;
    line-height: 22px;
    color: black;

}
.card__badge--class{
    background-color: #FFCF26;

}
.card__badge--credit{
    background-color: #11BE75;

}


.card__content{
    padding: 15px 15px 20px;
}
.card__title{
    margin: 0;
    margin-bottom: 10px;
    font-family: Roboto sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.16;
    color: black;
}
.card__term{
    font-size: 1.4rem;
    line-height: 1.14;
    color: black;
    margin-bottom: 10px;
}
.card__metro{
    font-size: 1.4rem;
    line-height: 1.14;
    color: black;
    margin-bottom: 10px;
    &::before{
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: baseline;
        width: 16px;
        height: 11px;
        background-image: url('./../img/metro.svg');
        background-repeat: no-repeat;
        background-size: initial;


    }
}
.card__addres{
    font-size: 1.4rem;
    line-height: 1.14;
    color: #777777;
}