@import 'card';
@import 'sidebar';
*,
*::after,
*::before{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
img{
    display: block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.main{
    width: 870px;
   
}
.sidebar{
    width: 270px;
   
}
// btn
.more{
    width: 100%;
    height: 80px;
    background: #E5E5E5;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    line-height: 1.16;
    color: #4290c9;
    border: none;
    img{
        display: inline-block;
        vertical-align: bottom;
    }
}
